<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/ext//ext/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/ext/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ext/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/ext/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/ext/assets/js/html5shiv.min.js"></script>
		<script src="/ext/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

  
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="/home" class="logo">
					<img src="/ext/assets/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
              
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="/ext/assets/img/user.jpg" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Patient</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/patient/profile">My Profile</a>
						
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/patient/profile">My Profile</a>

                    
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="/patient"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="active">
                          <a href="/patient/doctors"><i class="fa fa-dashboard"></i> <span>Doctors</span></a>
                          
                      </li>
                      <li>
                        <a href="/patient/medicine"><i class="fa fa-dashboard"></i> <span>Medicine</span></a>
                        
                    </li>
					
							</ul>
					
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
              <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title d-inline-block">Doctors </h4> 
                  </div>
                  <div class="card-body p-0">
                    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                      <div class="form-group">
                          
                        <input id = "txtDoctor" type="text" class="form-control"  placeholder="Search Doctor..">
                        <div id="searchResult"></div>                         </div>
                  </div>
                    <div class="table-responsive">

                      <table class="table mb-0">
                        <thead class="d-none">
                          <tr>
                            <th>Doctor Name</th>
                            <th>Department</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            
                          </tr>
                        </thead>
                        <tbody id="myTable">
                                  <% for( var i=0;i<data.length;i++ ){%>          
                          <tr>
                            <td style="min-width: 200px;">
                              <h5 class="time-title p-0">Doctor Name</h5>
                              <p><%=data[i].first_name%></p>
                             
                            </td>                 
                            <td>
                              <h5 class="time-title p-0">Email</h5>
                              <p><%=data[i].email%></p>
                            </td>
                            <td>
                              <h5 class="time-title p-0">Address</h5>
                              <p><%=data[i].address%></p>
                            </td>
                            <td>
                              <h5 class="time-title p-0">Phone</h5>
                              <p><%=data[i].phone%></p>
                            </td>
                            <td class="text-right">
                              <a onclick="doctorData('<%=data[i].id%>')" class="btn btn-outline-danger take-btn">Visit</a>
                                                    </td>
                                                  
                          </tr>
                          <%}%>
                          
                          
                          
                        
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                 
                </div>
        
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" id="dName"></h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <h3>Name:<p id="pDoc"></p></h3>
                  <br/>
                  <div class="row">
                    <div class="col-sm-6"><h3>Appointments</h3></div>
                    <input type="text" id="did" hidden />
                    <div class="col-sm-6"><button class="btn btn-outline-info" style="float: right;" onclick="add('<%=user.id%>',)">Add Appointment</button></div> 

                  </div>
                  <br/>
                  <ul class="list-group" id="timesData">
                  
                  </ul>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>

				
			
        
    </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/ext/assets/js/popper.min.js"></script>
    <script src="/ext/assets/js/bootstrap.min.js"></script>
    <script src="/ext/assets/js/jquery.slimscroll.js"></script>
    <script src="/ext/assets/js/Chart.bundle.js"></script>
   
    <script src="/ext/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</body>


<script>



  let selectedTime=null;
  
  function doctorData(id){
    $.ajax({
        url:"/patient/doctor/"+id,
        method:"post",
        success:function(r){
                $("#dName").text(r.data.first_name+" "+r.data.last_name);
                $("#pDoc").text(r.data.first_name+" "+r.data.last_name);
                $("#did").val(r.data.id);
                let times=r.data.times.split(",");
                let str="";
                if(times !=null){
                  for(let i=0;i<times.length;i++){
                   str+=' <li class="list-group-item d-flex justify-content-between align-items-center">'
                    +'<div class="form-check">'
                    +    '<label class="form-check-label" for="check1">'
                     +   `  <input type="checkbox" class="form-check-input" id="check1" name="option1" value="${times[i]}" onclick="onlyOne(this)">${times[i]}`
                     +  ' </label>'
                     + '</div>'
                    "</li>";
                  }
                  $("#timesData").html(str);
                }
                $('#myModal').modal('show');
        },error:function(err){
           console.error(err);
        }
    });

   


  
  }

  

  function onlyOne(checkbox) {
    var checkboxes = document.getElementsByName('option1');
      selectedTime=checkbox.value;
      console.log(selectedTime);
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false;
    })
}


function add(p_id)
{
  let s=null;
  var checkboxes = document.getElementsByName('option1');
   checkboxes.forEach((item)=>{
      if(item.checked){
         s=item.value;
      }
   });

   if(s!=null){
     $.ajax({
       url:"/patient/addappointment",
       method:"POST",
       data:{pid:p_id,did:$("#did").val(),time:s},
       success:function(r){
         if(r.status){
           Swal.fire("Success","Request send for appointment","success");
         }
       },
       error:function(e){
         console.error(e);
       }
     })
   }

}



$('#txtDoctor').keyup(function(){
        var div = document.getElementById("searchResult");
        var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
                if($('#txtMedicine').val()==""){
                    div.innerHTML =""; 
                }
                else{

                    $.ajax({
                        method: "POST",
                        url : "/patient/doctor/search",
                        data: { name:  $('#txtDoctor').val().toString()},
                        dataType: "json",
                        success: function(allData){
                            let str = "";
                            console.log(allData);
                            for(var i = 0; i<allData.data.length; i++){
                                //console.log(allData);
                                
                                str += "<p id='paragraph' onclick='setOnTxt()'>"+allData.data[i].first_name+"</p><br/>";
                            }
                        
                            div.innerHTML =str; 
                        },
                        error : function(){
                            var div = document.getElementById("searchResult");
                            let str = "something went wrong";
                            div.innerHTML = str;
                            
                        }
                      });
                   }
    });

    function setOnTxt(){
        var searchTextField = document.getElementById("txtDoctor");
        var para = document.getElementById("paragraph");
        searchTextField.value = para.innerHTML;
    }

</script>



</html>